// buttons
@import "variables-default";

.animate (@animated: all 700ms ease) {
  -webkit-transition: @animated;
  -moz-transition: @animated;
  -ms-transition: @animated;
  -o-transition: @animated;
  transition: @animated;
}

.button {
    padding: @space-small @space-small * 2;
    color: white;
    display: inline-block;
    background-color: @color-dark-grey;
  .animate();

    &:hover {
        background-color: @color-dark-grey-hover;
      .animate();
    }
}

a.button:hover {
    text-decoration: none;
  .animate();
}

.button-template(@bg-color, @bg-color-hover) {
    background-color: @bg-color;
    border: 1px solid @bg-color-hover;

    &:hover {
        background-color: @bg-color-hover;
    }
}

.button-primary {
    .button-template(@color-primary, @color-primary-hover);
}

.button-secondary {
    .button-template(@color-secondary, @color-secondary-hover);
}

.button-tertiary {
    .button-template(@color-tertiary, @color-tertiary-hover);
}

.button-success {
    .button-template(@color-success, @color-success-hover);
}

.button-danger {
    .button-template(@color-danger, @color-danger-hover);
}

.button-info {
    .button-template(@color-info, @color-info-hover);
}

.button-warning {
    .button-template(@color-warning, @color-warning-hover);
}

//EXAMPLES
/*
<a href="" class="button button-tertiary radius-small">
  radius-small
</a>
*/