.button {
  display: inline-block;
  padding: @space-small @space-small * 2;
  color: @color-white;
  background-color: @color-dark-grey;
  cursor: pointer;
  .animate();
  &:hover {
    background-color: @color-dark-grey-hover;
    text-decoration: none;
  }
}

.button-template(@bg-color, @bg-color-hover) {
  background-color: @bg-color;
  border: 1px solid @bg-color;
    &:hover {
      background-color: @bg-color-hover;
      border: 1px solid @bg-color-hover;
    }
}

.button-primary {
    .button-template(@color-primary, @color-primary-hover);
}
.button-secondary {
    .button-template(@color-secondary, @color-secondary-hover);
}
.button-tertiary {
    .button-template(@color-tertiary, @color-tertiary-hover);
}
.button-success {
    .button-template(@color-success, @color-success-hover);
}
.button-danger {
    .button-template(@color-danger, @color-danger-hover);
}
.button-info {
    .button-template(@color-info, @color-info-hover);
}
.button-warning {
    .button-template(@color-warning, @color-warning-hover);
}

.button-group {
  display: inline-block;
  padding: 0;
  margin: 0;
  border: solid 1px #999;
  border-radius: 3px;
  overflow: hidden;
  .button {
    float: left
  }
}

input[disabled="disabled"],input[disabled="disabled"]:hover,
.button.disable {
  background-color: #dbdbdb;
  color: grey;
  border: 1px solid #dbdbdb;
  cursor: not-allowed;
}