.animate (@animated: all 700ms ease) {
  -webkit-transition: @animated;
  -moz-transition: @animated;
  -ms-transition: @animated;
  -o-transition: @animated;
  transition: @animated;
}
.dropdown-main {
  position: relative;
  display: initial;
  .ul-list {
    background-color: @color-white;
    box-shadow: rgba(0, 0, 0, 0.298039) 0 4px 13px 0;
    margin: 0;
    padding:0;
    position: absolute;
    display: block;
    top: -40px;
    left: 0;
    opacity: 0;
    visibility: hidden;
    z-index: 999;
    text-align: left;
    min-width: 150px;
    border-radius: 3px;
    border: none;
    .animate();
    li {
      float: none;
      margin: 0;
      padding: 0;
      color: @color-tertiary;
      list-style: none;
      .animate();
      a {
        padding: 6px 10px;
        color: @color-tertiary;
        text-decoration: none;
        display: block;
        font-size: 15px;
        border-bottom: rgb(242, 242, 242) solid 1px;
        .animate();
        &:hover {
          color: @color-white;
        }
      }
      &:hover {
        cursor: pointer;
        display: block;
        background: @color-tertiary;
        text-decoration: none;
      }
      &:hover a,
      &:focus a {
        text-decoration: none;
        color: @color-white;
        .animate();
      }
      &:last-of-type a {
        border-bottom: none;
      }
    }
  }
  input[type=checkbox] {
    display: none;
    &:checked {
      ~ .dropdown-item {
        -webkit-transform: translateY(70px);
        -moz-transform: translateY(70px);
        -ms-transform: translateY(70px);
        -o-transform: translateY(70px);
        transform: translateY(70px);
        opacity: 1;
        visibility: visible;
        .animate();
      }
    }
  }
}
.label-dropdown {
  cursor: pointer;
}