// FONT.less -> classes changing fonts

.primary {
  color: @color-primary;
}

.secondary {
  color: @color-secondary;
}

.tertiary {
  color: @color-tertiary;
}

.info {
  color: @color-info;
}

.success {
  color: @color-success;
}

.danger {
  color: @color-danger;
}

.warning {
  color: @color-warning;
}

.muted {
  color: @text-muted;
}

a:hover {
  &.primary  		{color: @color-primary-hover}
  &.secondary  		{color: @color-secondary-hover}
  &.tertiary  		{color: @color-tertiary-hover}

  &.info  			{color: @color-info-hover}
  &.success  		{color: @color-success-hover}
  &.warning  		{color: @color-warning-hover}
  &.danger  		{color: @color-danger-hover}

  &.muted  			{color: @color-muted-hover}
}

// font align
.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

// font size
.font-smaller {
    font-size: @font-size-small;
}

.font-bigger {
    font-size: @font-size-large;
}

// Heading
h1,h2,h3,h4,h5,h6 {
  padding: @font-padding-none;
  margin: @font-margin-none;
  font-weight: @font-weight-normal;
}