.harmonica {
  display: block;
  .main-panel {
    margin-bottom: 3px;

    input {
      display: none;

      &:checked ~ .show-harmonica {
        display: block;
      }
      &:checked + label {
        font-weight: bold;

        i {
          &:before {
            content: "\f077";
          }
        }
      }
    }
    .show-harmonica {
      display: none;

      padding: 15px;
      margin-bottom: 9px;
      margin-top: 9px;
      background: @color-tertiary;
      color: @color-white;
      font-size: 16px;
      font-weight: 300;
    }

    label {
      display: block;
      position: relative;
      border: solid 1px transparent;
      color: @color-primary;
      background-color: @color-white;
      font-size: 17px;
      font-weight: 600;
      line-height: 1;
      padding: 10px;
      &:hover {
        cursor: pointer;
        color: @color-tertiary-lighter;
        border: solid 1px @color-tertiary-lighter;
      }
      img.text-right,
      i.text-right,
      span.text-right {
        position: absolute;
        right: 0px;
      }
    }
  }
}