.navbar {
  width: 100%;
  .navbar-items {
    font-size: 0;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  .navbar-item {
    display: inline-block;
    font-size: @font-size-base;
    text-align: center;
  }
  .navbar-link {
    padding: @space-small @space-small * 2;
    color: @color-secondary;
    display: block;
  }
  @media (max-width: 1023px) {
    .medium {
      .navbar-item {
        display: block;
      }
    }
  }
  @media (max-width: 767px) {
    .small {
      .navbar-item {
        display: block;
      }
    }
  }
  @media (max-width: 479px) {
    .mini {
      .navbar-item {
        display: block;
      }
    }
  }
}