// VARIABLES.less -> default variables for the framework

// colors
@color-primary: #70ba4e;
@color-secondary: #f2000c;
@color-tertiary: #4f4aba;

// spacing
@space-big: 30px;
@space-medium: 20px;
@space-small: 10px;

// grid system
@columns: 12;                           // number of columns
@responsive: false;                     // generate responsive columns?
@column-padding-vertical: 15px;         // vertical padding for each column
@column-padding-horizontal: 15px;       // horizontal padding for each column
@column-margin-vertical: 0px;           // vertical margin for each column
@column-margin-horizontal: 0px;         // horizontal margin for each column
// thresholds for screen sizes
@threshold-big: 1210px;
@threshold-medium: 810px;
@threshold-small: 410px;
// container sizes for each width size
@container-big: 1200px;
@container-medium: 800px;
@container-small: 400px;

