/*
    GRID.less -> grid system, row, span, div
    VARIABLES:

    @columns
    @responsive
    @column-padding-vertical
    @column-padding-horizontal
    @column-margin-vertical
    @column-margin-horizontal
    @threshold-big
    @threshold-medium
    @threshold-small
    @container-big
    @container-medium
    @container-small
*/
.row {
  width: 100%;
}
.span {
  display: block;
}
.span-1 {
  width: 8.33333333%;
}
.offset-1 {
  margin-left: 8.33333333%;
}
.span-2 {
  width: 16.66666667%;
}
.offset-2 {
  margin-left: 16.66666667%;
}
.span-3 {
  width: 25%;
}
.offset-3 {
  margin-left: 25%;
}
.span-4 {
  width: 33.33333333%;
}
.offset-4 {
  margin-left: 33.33333333%;
}
.span-5 {
  width: 41.66666667%;
}
.offset-5 {
  margin-left: 41.66666667%;
}
.span-6 {
  width: 50%;
}
.offset-6 {
  margin-left: 50%;
}
.span-7 {
  width: 58.33333333%;
}
.offset-7 {
  margin-left: 58.33333333%;
}
.span-8 {
  width: 66.66666667%;
}
.offset-8 {
  margin-left: 66.66666667%;
}
.span-9 {
  width: 75%;
}
.offset-9 {
  margin-left: 75%;
}
.span-10 {
  width: 83.33333333%;
}
.offset-10 {
  margin-left: 83.33333333%;
}
.span-11 {
  width: 91.66666667%;
}
.offset-11 {
  margin-left: 91.66666667%;
}
.span-12 {
  width: 100%;
}
.offset-12 {
  margin-left: 100%;
}
/*
    SPACING.less -> margin, padding
    VARIABLES:

    @space-big
    @space-medium
    @space-small
*/
.padding-big-top {
  padding-top: 30px;
}
.padding-medium-top {
  padding-top: 20px;
}
.primary {
  color: #70ba4e;
}
.secondary {
  color: #f2000c;
}
.tertiary {
  color: #4f4aba;
}
.background-primary {
  background-color: #70ba4e;
}
.background-secondary {
  background-color: #f2000c;
}
.background-tertiary {
  background-color: #4f4aba;
}
